body{
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#919191;
    background-color:#232323;}
.clear:after{
    content:".";
    display:block;
    clear:both;
    line-height:0;}
a{
    text-decoration:none;
}

/* ----------------------Wrapper-------------------------*/

.row1, .row1 a{
    color:#C0BAB6; }
.row2{color:#979797;
    background-color:#FFFFFF;}

#header, #container, #footer{
    width:960px;
    margin: auto;
}
nav ul{margin:0; padding:0;}
h1, h2{
    margin:0;
   }

/*------------------------------Sign In-------------------------------------*/
#header{padding:20px 0;}
#header #hgroup{float:left;}
#header #hgroup h1, #header #hgroup h2{font-weight:normal;}
#header #hgroup h1{font-size:40px;}
#header #hgroup h2{font-size:20px;}
#header nav{display:block; float:right;padding:20px 0;
background-color:#232323;}
#header nav li{display:inline; margin-right:10px;}

/*----------------------------Content Area---------------------------------*/
#container{padding:30px 0;}
#container .last{margin:0;}

/*----Footer----*/
#footer{padding:20px 0;}
#footer p{margin:0; padding:0;}
